.img {
    width: 300px;
    height: 300px;
  }
  .div {
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 0, 110);
    margin: 15px;
    padding: 15px;
  }
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .div p {
    color: white;
    font-size: larger;
    font-weight: 800;
    font-style: oblique;
  }
  
  .nav{
    background-color: blue;
    height: 60px;
    display: flex;
    flex-direction: row;

  }
.nav p{
  color: white;
  font-size: larger;
  font-weight: 900;
  margin: 10px;
}
  .footer{
    background-color: blue;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer p{
    color: white;
    font-size: larger;
    font-weight: 900;
    margin: 6px;
  }